<body>
  <h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  </table>
  <div class="post-form">
    <div class="post-form-title">
      <h3>New book</h3>
    <div class="post-form-field">
      <%= form_with model: @book, local:true do |f| %>
      <h4>Title</h4>
      <%= f.text_field :title %>
      <h4>Body</h4>
      <%= f.text_area :body %>
      <%= f.submit 'Creat Book' %>
      <% end %>
    </div>
    </div>
  </div>
</body>